.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  /* font-family: "Overlock SC", cursive; */
  margin-top: 80px;
  border: 1px solid black;
}
