.forum-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  /* font-family: "Overlock SC", cursive; */
  top: 80px;

  width: 100%;
  /* position: absolute; */
  gap: 20px;

  scroll-behavior: smooth;
  /* height: 100vh;
  overflow: scroll; */
  margin-bottom: 20px;
  direction: rtl;
}
.top-contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  /* border: 1px solid black; */
  box-shadow: rgba(8, 26, 9, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-top: 10px;
  background: rgb(170, 214, 103);
  border-radius: 10px;
}
.posts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  /* font-family: "Overlock SC", cursive; */
  width: 85%;
  gap: 20px;
}

.btn {
  min-width: 85px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: rgb(106, 157, 28);
  color: white;
  cursor: pointer;
}

.spinner img {
  width: 60px;
}
