.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.googlemap {
  width: 100%;
  margin: 0;
  position: relative;
}

.h2map {
  position: fixed;
  z-index: 2;
  background: rgba(245, 245, 245, 0.688);
  padding: 10px;
}

.popup-mark-container {
  display: flex;

  background: rgba(203, 201, 201, 0.566);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 3;
}

.popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: rgb(243, 250, 219);
  width: 300px;
  min-height: 200px;
  z-index: 3;
  border-radius: 20px;

  margin-top: 10px;
  padding: 10px;
  direction: rtl;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.popup-edit {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.popup-edit h3 {
  margin-bottom: 10px;
}
.popup-edit label {
  width: 250px;
  text-align: right;
}
.popup input {
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.popup textarea {
  border-radius: 5px;
  width: 250px;
  height: 100px;
  border: 1px solid #ccc;
}
.popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 15px;
}
.popup-button button {
  padding: 5px;
  border-radius: 5px;
}
